<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.DeviceMonitorMapper">

    <resultMap id="DeviceInfoResult" type="DeviceInfo">
        <id     property="deviceId"          column="deviceId"      />
        <result property="deviceName"        column="deviceName"    />
        <result property="deviceType"        column="deviceType"    />
        <result property="imageName"         column="imageName"     />
        <result property="imageType"         column="imageType"     />
        <result property="imageSize"         column="imageSize"     />
        <result property="imageUrl"          column="imageUrl"      />
        <result property="creatTime"         column="creatTime"     />
    </resultMap>

    <insert id="saveDeviceImage" parameterType="com.ruoyi.web.domain.DeviceInfo" useGeneratedKeys="true" keyProperty="id">
        insert into device_info (
        <if test="deviceId != null">deviceId,</if>
        <if test="deviceName != null and deviceName != ''">deviceName,</if>
        <if test="deviceType != null and deviceType != ''">deviceType,</if>
        <if test="imageName != null and imageName != ''">imageName,</if>
        <if test="imageType != null and imageType != ''">imageType,</if>
        <if test="imageSize != null and imageSize != ''">imageSize,</if>
        <if test="imageUrl != null and imageUrl != ''">imageUrl,</if>
        <if test="creatTime != null">creatTime</if>
        )values(
        <if test="deviceId != null">#{deviceId},</if>
        <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
        <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
        <if test="imageName != null and imageName != ''">#{imageName},</if>
        <if test="imageType != null and imageType != ''">#{imageType},</if>
        <if test="imageSize != null and imageSize != ''">#{imageSize},</if>
        <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
        <if test="creatTime != null">#{creatTime}</if>
        )
    </insert>

</mapper>