<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.UploadHelmetImageMapper">

    <resultMap id="HelmetInfoResult" type="HelmetInfo">
        <id     property="deviceId"          column="deviceId"      />
        <result property="deviceName"        column="deviceName"    />
        <result property="imageName"         column="imageName"     />
        <result property="imageType"         column="imageType"     />
        <result property="imageSize"         column="imageSize"     />
        <result property="imageUrl"          column="imageUrl"      />
        <result property="createTime"         column="createTime"     />
    </resultMap>

    <sql id="selectHelmetVo">
        select deviceId,deviceName,imageName,imageType,imageSize,imageUrl,createTime
        from helmet_info
    </sql>

    <!-- 保存上传安全帽监测图片 -->
    <insert id="saveHelmetImage" parameterType="com.ruoyi.web.domain.HelmetInfo" useGeneratedKeys="true" keyProperty="id">
        insert into helmet_info (
        <if test="deviceId != null">deviceId,</if>
        <if test="deviceName != null and deviceName != ''">deviceName,</if>
        <if test="imageName != null and imageName != ''">imageName,</if>
        <if test="imageType != null and imageType != ''">imageType,</if>
        <if test="imageSize != null and imageSize != ''">imageSize,</if>
        <if test="imageUrl != null and imageUrl != ''">imageUrl,</if>
        <if test="createTime != null">createTime</if>
        )values(
        <if test="deviceId != null">#{deviceId},</if>
        <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
        <if test="imageName != null and imageName != ''">#{imageName},</if>
        <if test="imageType != null and imageType != ''">#{imageType},</if>
        <if test="imageSize != null and imageSize != ''">#{imageSize},</if>
        <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
        <if test="createTime != null">#{createTime}</if>
        )
    </insert>

    <!-- 查询安全帽监测信息列表 -->
    <select id="selectHelmetList" parameterType="HelmetInfo" resultMap="HelmetInfoResult">
        <include refid="selectHelmetVo"/>
        <where>
            <if test="deviceName != null and deviceName != ''">
                AND deviceName like concat('%', #{deviceName}, '%')
            </if>
            <if test="imageName != null and imageName != ''">
                AND imageName like concat('%', #{imageName}, '%')
            </if>
            <if test="imageType != null and imageType != ''">
                AND imageType = #{imageType}
            </if>
        </where>
    </select>

</mapper>